
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    @Scripts.Render("~/bundles/jquery")


</head>

<body>


</body>
</html>
